// 公用的stylus样式文件

// 定义变量
// 公用的背景颜色
$common_bck=#ffffff
// 公用的字体大小

// 定义方法
// 公用字体大小和颜色函数
_common_font(sz,cr){
  font-size: sz ;
  color: cr; 
}
//公用css背景图片
_common_img(bcg_url){
  background-image: url(bcg_url);
  background-size: 100%;
  background-position: center center;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100%;
}
// flex兼容性
_common_flex(){
  display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */  
  display: -moz-box; /* Firefox 17- */  
  display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */  
  display: -moz-flex; /* Firefox 18+ */  
  display: -ms-flexbox; /* IE 10 */  
  display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */  
}

// 公用的边框颜色
_common_border(){
// .后面是第一个类名 .后面在一个类名 就表示这是一个全新的类名
// 如果写了相同的样式 就可以覆盖之前的某些样式
// rgba中的最后一个值是颜色的透明度 取值范围0 - 1
  border-bottom: 1px solid rgba(234,233,233,1);
}
// 公用的水平排列 上下左右都居中
_common_center(){
  justify-content: center;
  align-items: center;
}
// 公用的竖直排列 上下左右居中
_common_column(){
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
// 公用图标大小
_common_ico(){
  width .6rem;
}
// 公用去边框
_common_inputbox(){
  /* 去除未选中状态边框 */
      border: 0;
      /* 去除选中状态边框 */
      outline: none;
      /* 透明背景 */
      background-color: rgba(0, 0, 0, 0);
}