.connectedW {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 95%;
    margin-top: 1.12rem;
}

.avatar {
    display: flex;
    align-items: center;
}

.mainCt {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}

.avatarT {
    width: 1.12rem;
    height: 1.12rem;
    margin-right: .533333rem;
}

.tetx_p1 {
    font-size: .346667rem;
}

.yinghua {
    width: 7.466667rem;
}

.position {
    display: flex;
    justify-content: start;
    align-items: center;
    line-height: .066667rem;
}

.locationP {
    width: .72rem;
}

.date {
    display: flex;
    justify-content: flex-end;
    line-height: .066667rem;
}

.interactiveB {
    display: flex;
    justify-content: space-around;
}

.interactiveBo {
    display: flex;
}

.interactiveBt {
    width: 1rem;
}

.smallDots {
    width: .306667rem;
    height: .306667rem;
    background-color: #FF0000;
    border-radius: 50%;
}

.bottomBo {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #E7ECE8;
    position: Sticky;
}

.news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: .266667rem;
    line-height: 0;
}

.newsO {
    margin-top: .133333rem;
}

.newsT {
    width: 1.05rem;
}