    .bottom {
        width: 100%;
    }
    
    .topBar {
        width: 100%;
        background-color: #FFFFFF;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .topB {
        display: flex;
        justify-content: space-around;
    }
    
    .topBa {
        margin-left: .266667rem;
    }
    
    .topBb {
        margin-right: .266667rem;
    }
    
    .optionOuter {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .optionO {
        width: 95%;
        color: #989898;
    }
    
    .withinTheoptions {
        width: 100%;
        height: 1.066667rem;
        display: flex;
        justify-content: space-between;
    }
    
    .optionLeft {
        background-color: #18FE44;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: .666667rem 0 0 .666667rem;
        color: #282828;
        font-size: .453333rem;
    }
    
    .optionRight {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0 .666667rem .666667rem 0;
        border: thin solid #18FE44;
        overflow-x: hidden;
        overflow-y: hidden;
        color: #18FE44;
        font-size: .453333rem;
    }
    
    .subject {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }
    
    .beijingTwothousand {
        position: absolute;
        top: 7rem;
        left: 4rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        line-height: 0;
    }
    
    .element1 {
        width: 9.333333rem;
        height: 9.333333rem;
        background-color: #00FF00;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .child1 {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        background-color: #2DFFFF;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .first {
        position: absolute;
        left: .533333rem;
    }
    
    .second {
        position: absolute;
        top: 6.873333rem;
        left: 1.466667rem;
    }
    
    .third {
        position: absolute;
        top: 5.306667rem;
    }
    
    .fourth {
        position: absolute;
        top: 6.74rem;
        left: 7.533333rem;
    }
    
    .fifth {
        position: absolute;
        left: 8.266667rem;
    }
    
    .sixth {
        position: absolute;
        top: 11.273333rem;
        left: 7.533333rem;
    }
    
    .seventh {
        position: absolute;
        top: 13.006667rem;
    }
    
    .eighth {
        position: absolute;
        top: 11.54rem;
        left: 1.466667rem;
    }
    
    .bottomBarpicture {
        width: 1.066667rem;
    }
    
    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: .266667rem;
    }
    
    .Slogan {
        display: flex;
        justify-content: center;
        color: #99F9A8;
    }
    
    .blueirclet {
        width: 90%;
        display: flex;
        justify-content: flex-end;
    }
    
    .blueircle {
        width: 1.226667rem;
    }
    
    html,
    body,
    .wrap {
        height: 100%;
    }
    /*必需 */
    
    .wrap {
        height: auto;
        min-height: 100%;
    }
    
    .main {
        padding-bottom: 150px;
    }
    
    .clearfix {
        display: block;
        height: 1%;
    }
    
    .clearfix:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    
    .footer {
        clear: both;
        position: Sticky;
        margin-top: -2.666667rem;
        text-align: center;
        background-color: #e7ece8;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }