.wrap_Friends {
    width: 100%;
}

.header_Friends {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1.066667rem;
}

.enters_Friends {
    width: .533333rem;
    margin-right: .266667rem;
}

.main_Friends {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.content_Friends {
    width: 85%;
}

.main_tetxone {
    margin-left: .933333rem;
}


/* 线 */

.line_main {
    width: 100%;
    height: .02rem;
    background-color: #D7D7D7;
}

.list_Friends {
    display: flex;
    align-items: center;
}

.avatarone_Feiends {
    width: 1.066667rem;
    border-radius: 50%;
    margin: .266667rem;
}

.main-right_Friends {
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 0;
    font-size: .266667rem;
}

.entertwo_Friends {
    width: .4rem;
}

.searchbox_Friends {
    width: 100%;
}

.Release_Friends {
    display: flex;
    justify-content: flex-end;
}

.Releaseone_Friends {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0;
}

.setting_Friends {
    width: 1.066667rem;
}

.searchbox_two_Friends {
    width: 100%;
    display: flex;
    justify-content: center;
}

.input_Friends {
    width: 75%;
    height: .8rem;
    border-radius: .666667rem;
    /* 边框颜色 */
    border-color: #B0B0B0;
}

.footer_Friends {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F4F4F4;
    margin-top: .266667rem;
}

.footer_one_Friends {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: .266667rem;
    line-height: 0;
}

.InternetWorld_Friends {
    width: 1.066667rem;
}