/* 我的设置 */

.wrap_Setup {
    width: 100%;
}

.header {
    width: 100%;
    margin-top: 2.133333rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar_Setup {
    display: flex;
    align-items: center;
}

.avatarone {
    width: 1.466667rem;
    margin-right: .4rem;
}

.Two-dimensionalcode {
    width: 1.466667rem;
}

.line {
    width: 100%;
    height: .026667rem;
    background-color: rgb(146, 146, 146);
    margin-top: .133333rem;
}

.lineTwo {
    width: 100%;
    height: .026667rem;
    background-color: rgb(146, 146, 146);
    margin-top: .666667rem;
}

.main_Setup {
    width: 100%;
    background-color: #F5F5F5;
}

.main_one {
    width: 100%;
    height: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ico__main {
    display: flex;
    font-size: .426667rem;
    align-items: center;
}

.qianbao_Setup {
    width: .96rem;
}

.enter_Setup {
    width: .46rem;
}

.line_mainOne {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.line_M_one {
    width: 90%;
    height: .02rem;
    background-color: #DADADA;
}

.setup_tetx {
    font-size: .506667rem;
    margin-left: .933333rem;
}

.footer_Setup {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #F4F4F4;
}

.footer_ico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: .266667rem;
    line-height: 0;
}

.InternetWorld_setup {
    width: 1.066667rem;
}